<h2>pågende böcker</h2>


<ul>
<% @books.each do |book| %>
<%if book['status']==0 %>
    <li>
    <p "/books/<%= book['id']%>">
        <%= book['titel'] %></p>
        <ul>
            <li>
                <%= book['author'] %></p>
            </li>
            <li>
                <%= book['pages'] %></p>
            </li>
            <form action='/books/<%= book['id'] %>/status_update' method='post'> 
                <button type="submit">STATUS</button>
            </form><form action='/books/<%= book['id'] %>/delete' method='post'> 
                <button type="submit">DELETE</button>
            </form> 
            <form action='/books/<%= book['id'] %>/edit' method='get'> 
                <button type="submit">EDIT</button>
            </form> 
        </ul>
        <%end%>
</li>
    <% end %>
</ul>

<h2>färdiga böcker</h2>
<ul>
<% @books.each do |book| %>
<%if book['status']==1 %>
    <li>
    <p "/books/<%= book['id']%>">
        <%= book['titel'] %></p>
        <ul>
            <li>
                <%= book['author'] %></p>
            </li>
            <li>
                <%= book['pages'] %></p>
            </li>
            <form action='/books/<%= book['id'] %>/status_update' method='post'> 
                <button type="submit">STATUS</button>
            </form>
            <form action='/books/<%= book['id'] %>/delete' method='post'> 
                <button type="submit">DELETE</button>
            </form> 
            <form action='/books/<%= book['id'] %>/edit' method='get'> 
                <button type="submit">EDIT</button>
            </form> 
        </ul>
        <%end%>
</li>
    <% end %>
</ul>
